.completed-task td{
    background-color: rgb(39, 152, 48) !important; 
    color: #11a93f;
}

table tr{
  overflow-wrap: anywhere!important;
}

.table-success {
    background-color: #d4edda; 
  }
  

.btn-danger {
    background-color: #dc3545; 
  }
